
{% extends "base.htm" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Config Management{% endblock %}

{% block page_content %}
                {{super()}}
                <div class="page-header">
                        <h1>Configuration Management</h1>
                </div>
                <div class="row">
                        <div class="col-md-3" align="left">
                                {{wtf.quick_form(chooseform)}}
                        </div>

                        <div class="col-md-5" align="left">
                                <form method="POST">
                                        <textarea rows="10" cols="130" value={{file_content}}>
                                        </textarea>
                                </form>
                        </div>
                </div>
{% endblock %}
